/* Configurações Gerais */
/* Reset básico para remover margens e paddings padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { */
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
  box-sizing: border-box;
}

/* Menu */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200%;
  margin: auto;
  padding: 0 20px;
}

header h1 {
  font-size: 1.8em;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #5d7492;
  color: white;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*sombra mais leve */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  text-decoration: underline;
}

/* Informações da clínica */
section {
  padding: 60px 20px;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

section h2 {
  font-size: 2rem; /* Comando rem proporciona tamanho maior */
  margin-bottom: 20px;
  color: #004aad;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sobre img {
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section p {
  max-width: 700px;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #555;
  margin-bottom: 20px;
}

/* Banner */
.banner {
  background: linear-gradient(to right, #004aad, #0086ff);
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.banner h2 {
  font-size: 2.2em;
  margin-bottom: 10px;
}

.banner .btn {
  background-color: white;
  color: #004aad;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  margin-top: 20px;
  font-size: 1.1rem;
  box-shadow: 0 4px 8px rgba(255, 204, blue, 0.4);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.banner .btn:hover {
  background-color: #004aad;
  color: #ffcc00;
  box-shadow: 0 6px 12px rgba(0, 74, 173, 0.6);
}

/* Rodapé da página */
footer {
  background-color: #004aad;
  color: white;
  text-align: center;
  padding: 20px 10px;
}
